* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #181818;
    color: #fff;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #181818;
    border-bottom: 1px solid transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

header .lame {
    display: flex;
    align-items: center;
}
header .menu span {
    font-size: 24px;
    cursor: pointer;
    color: #ddd;
}
header .logo img {
    height: 20px;
    margin-left: 10px;
}
header .search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    color: #ffffff;
}
header .search-bar input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #202020;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
}
header .search-bar button {
    padding: 5px 15px;
    border: 1px solid #202020;
    background-color: #333;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
header .user-icons {
    display: flex;
    align-items: center;
    color: white;
}
header .user-icons p {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
}
header .user-icons span {
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Sidebar */
aside {
    width: 240px;
    background-color: #181818;
    border-right: 1px solid #606060;
    position: fixed;
    top: 50px;
    bottom: 0;
    border: none;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, border-color 0.3s;
}
aside a:hover{
    background-color: #555;
    border-radius: 10px;

}
aside a {
    text-decoration: none;
    color: #fcfafa;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}
aside a:hover {
    background-color: #333;
}
aside a span {
    margin-right: 15px;
    font-size: 18px;
}

 /* categories    */
 .categories {
    margin-top: 60px;
    margin-left: 240px;
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px transparent #999;
    background-color: #181818;
}

.category-section{
    display: flex;
    overflow: hidden;
}

.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    color: #ddd;
    border: 1px solid transparent;
    border-radius: 900px;
    background-color: #333;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: backgrounf-color 150ms;
}

.category:hover{
    background-color: #555
}

.category-active{
    background-color: #262424;
    color: white;
    border: solid;
    border-color: #333030;
    margin-right: 10px;
    border-radius: 900px;
    padding: 10px;
}

.category:last-child{
   margin-right: 0;
} 

/* Content Placeholder */
.videos {
    margin-left: 240px;
    padding: 10px;
    background-color: #181818;
    flex: 1;
    display: flex;
    justify-self: unset;
    flex-wrap: wrap;
    gap: 20px;
}

.video-section{
    display: flex;
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
.video-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    transition: all 0.5s ease-in-out 0.3ms;
}

.video-container:hover{
    transform: scale(1.1);
}

.thumbnail{
    position: relative;
    display: flex;
}

.thumbnail::before{
    content: attr(data-durarion);
    position: absolute;
    background-color: rgba(0, 0,0,.85 );
    color: #ddd;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
}

.thumbnail-image{
    display: flex;
    width: 390px;
    height: 230px;
    border-radius: 10px;
    background-color: #555;
}

.video-bottom-setion{
   display: flexbox;
   align-items:flex-start; 
   margin-top: 1rem;
}

.channel-icon{
    width: 36px;
    height: 36px;
    border-radius:50%;
    margin-right: .75rem;
    margin-top: 5px;
    background-color: #555;
}

.video-details{
    margin-left: 10px;
    display:flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: #ddd;
}

.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}

.video-channel-name:hover{
    color: #111;
}


.video-metadata, .video-channel-name{
    font-size: .9rem;
    color: #555;
}

.video-section-title{
    grid-column: 1 / -1;
    margin: -.5rem;
    margin-right: 50rem;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video-section-title-close{
    border: none;
    background-color: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

body.dark .content {
    background-color: #181818;
}